* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-navy-950: #0E1323;
    --color-navy-900: #1C204B;
    --color-navy-800: #33397A;
    --color-navy-200: #BBC0FF;
    --color-orange-300: #FF8B64;
    --color-purple-700: #7335D2;
    --color-purple-600: #5747EA;
    --color-purple-500: #7078C9;
    --color-blue-300: #55C2E6;
    --color-pink-400: #FF5E7D;
    --color-green-400: #4BCF82;
    --color-yellow-300: #F1C75B;
    --color-grey-200: #D8D8D8;
}
body {
    font-family: 'Rubik', sans-serif;
    background: var(--color-navy-950);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-preset-1 {
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 0;
    font-weight: 300;
}
.text-preset-2 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0;
    font-weight: 300;
}
.text-preset-3 {
    font-size: 32px;
    font-weight: 300px;
    line-height: 38px;
    letter-spacing: 0;
}
.text-preset-4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0;
}
.text-preset-5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
}
.text-preset-6 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
}

.container {
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

.card-person {
    grid-column: 1/1;
    grid-row: 1/3;
}

.card, .card-person {
    background: var(--color-navy-900);
    border-radius: 15px;
}

.card-person .header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: var(--color-purple-600);
    padding: 32px;
    border-radius: 15px;
    color: var(--color-white)
}

.card-person .header .avatar {
    width: 78px;
    height: 78px;
    border: 3px solid var(--color-white);
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card-person .header .info p {
    color: var(--color-navy-200);
}

.card-person .menu {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: left;
}

.card-person .menu .menu-item {
    border: none;
    background: none;
    text-align: left;
    color: var(--color-purple-500);
    cursor: pointer;
}
.card-person .menu .menu-item.active {
    color: var(--color-white);
}

.card {
    padding-top: 45px;
    background-repeat: no-repeat;
    background-position-y: -12px;
    background-position-x: right 16px;
}
.card.work {
    background-color: var(--color-orange-300);
    background-image: url("./images/icon-work.svg");
}
.card.play {
    background-color: var(--color-blue-300);
    background-image: url("./images/icon-play.svg");
}
.card.study {
    background-color: var(--color-pink-400);
    background-image: url("./images/icon-study.svg");
}
.card.exercise {
    background-color: var(--color-green-400);
    background-image: url("./images/icon-exercise.svg");
    background-position-y: 0;
}
.card.social {
    background-color: var(--color-purple-700);
    background-image: url("./images/icon-social.svg");
}
.card.self-care {
    background-color: var(--color-yellow-300);
    background-image: url("./images/icon-self-care.svg");
}

.card .content {
    background: var(--color-navy-800);
    border-radius: 15px;
    padding: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.card .content .content__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card .content .content__header .title {
    color: var(--color-white)
}
.card .content .content__header .menu-icon {
    color: var(--color-navy-200);
}
.card .content .content__header .menu-icon i {
    font-size: 21px;
}
.card .content .content__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card .content .content__body .current {
    color: var(--color-white);
}
.card .content .content__body .last {
    color: var(--color-navy-200);
}


@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 188px 188px 188px;
        grid-row: 1fr 1fr 1fr;
        gap: 24px;
    }
    .card-person {
        grid-column: 1/4;
        grid-row: 1/1;
    }
    .card-person .header {
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    .card-person .header .avatar {
        width: 64px;
        height: 64px;
    }
    .card-person .menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .card-person .menu button {
        width: 110px;
    }
    .card {
        padding-top: 33px;
        background-position-x: right 16px;
    }
    .card .content {
        padding: 24px;
        gap: 16px;
    }
    .card .content .content__body {
        gap: 8px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 81px 24px 24px;
    }
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 24px;
    }
    .container > div {
        grid-column: 1;
        grid-row: auto;
    }
    .card-person .header {
        gap: 24px;
    }
    .card-person .header .avatar {
        width: 64px;
        height: 64px;
    }
    .card-person .header .info span {
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
    }
    .card-person .menu {
        justify-content: space-between;
        padding: 24px;
    }
    .card-person .menu button {
        width: auto;
    }
    .card {
        background-position-x: right 16px;
    }
    .card {
        padding-top: 38px;
    }
}